body{
    font-family: Roboto;
    background: #EEEEEE;
}
.navbar-custom {
    background: #393E46;
    height: 70px !important;
    padding: 10px 30px;
}
.nav-link{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}
.nav-link:hover{
    color: #FFF200;
}
.nav-item{
    padding-right: 10px;
}
.nav-item .nav-link {
    position: relative;
    text-decoration: none;
}
  
.nav-item .nav-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    background: #FF9300;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}
  
.nav-item .nav-link:hover::after {
    transform: scaleX(1);
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-brand-mobile{
    font-size: 24px;
    position: absolute;
    margin: 3px 0 0 10px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}
.navbar-brand{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
}
a#brand_desk{
    font-size: 35px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    padding-right: 40px;
}
.navbar a.navbar-brand:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.dropdown-toggle:after { 
    content: none;
}
.dropdown-menu{
    margin-top: 10px;
    background: #393E46;
    opacity: 0.9;
}
.dropdown-item{
    color: #FFFFFF;
}
.dropdown-item:hover{
    background: #FF9300;
    color: #FFFFFF;
}
.btn-groups{
    margin-right: 20px;
}
.btn-primary{
    background: #1072BA;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 108px;
    height: 44px;
    margin-left: 5px;
}
.btn_group_nav{
    margin-right: 15px;
    font-size: 18px;
}
.navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.page_btc{
    margin-bottom: 20px;
}
.jumbotron.headers{
    height: 200px;
    background: url("../img/unsplash_7LoWpCOAn6k.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid rgba(58, 58, 58, 0.2);
    box-sizing: border-box;
    box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.85);
    padding: 30px 20.82%;
}
.header_title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    width: 100%;
    float: left;
}
.header_subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 400px;
    float: left;
}
.btn-white{
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #AED3EA;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    height: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #1F8FAE;
    float: right;
    margin: 30px 30px;
}
.header_grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    margin: 0 0 2.60rem 0;
    grid-template-columns: 60% 40%; 
}
.jumbotron.trading_title_details{
    margin: 0;
    padding: 10px 20.82%;
    background: #FFFFFF;
    height: 240px;
}
.trading_title{
    font-weight: 700;
    font-size: 20px;
}
.trading_subtitle{
    font-weight: 500;
    font-size: 14px;
    color: #666666;
}
.tradings {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    margin: 0 0 2.60rem 0;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.mycheckbox input[type="checkbox"] {
    display: none;
}
.mycheckbox input[type="checkbox"]+label {
     background: url('../icons/bi_check-circle.png') no-repeat;
     width: 20px;
     height: 20px;
}
.mycheckbox input[type="checkbox"]:checked + label {
    background: url('../icons/bi_check-circle-fill.png') no-repeat;
}
.card-trading-title{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    margin: -35px 0 0 30px;
    position: absolute;
}
.card-trading-subtitle{
    color: #888888;
    font-size: 12px;
    width: 87%;
}
.jumbotron.graph{
    padding: 25px 20.82%;
}
.header_graph{
    width: 100%;
    display: grid;
    grid-gap: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
}
.header_graph_red{
    border-radius: 15px;
    border-top: 10px solid #ED5659;
    background: #FFFFFF;
    padding: 20px 20px;
    width: 95%;
}
.header_graph_mintgreen{
    border-radius: 15px;
    border-top: 10px solid #1F8FAE;
    background: #FFFFFF;
    padding: 20px 20px;
    width: 95%;
}
.header_graph_yellow{
    border-radius: 15px;
    border-top: 10px solid #FFF200;
    background: #FFFFFF;
    padding: 20px 20px;
    width: 95%;
}
.header_graph_blue{
    border-radius: 15px;
    border-top: 10px solid #1072BA;
    background: #FFFFFF;
    padding: 20px 20px;
    width: 95%;
}
.header_graph_img img{
    width: 100px;
    height: 100px;
}
.header_graph_title{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.header_graph_subtitle{
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.header_graph_cl{
    height: 264px;
    color: #888888;
}
#modal-login{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}
#modal-login .modal-content {
    background: #393E46;
    border: 4px solid #B4BAC8;
    box-sizing: border-box;
    border-radius: 10px;
}
#modal-login .modal-dialog{
    width: 600px;
    height: 350px;
}
#modal-login .modal-backdrop{
    background-color: transparent !important;
}
#modal-login .modal-backdrop.in {
      opacity: 0;
}
#modal-login .modal-title{
    text-align: center;
}
#modal-login .modal-header{
    border-bottom: none;
}
#modal-login .modal-body{
    padding: 10px 50px;
}
#modal-login .modal-footer{
    border-top: none;
}
#modal-login .textinput{
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #F7F7F7;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#modal-login .modal-body .text-yellow{
    color: #FFF200;
    font-size: 20px;
    font-weight: 700;
}
#modal-login .modal-footer .btn-user-gray, #modal-login .modal-footer .btn-user-orange{
    width: 150px;
    height: 44px;
    background: #888888;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 16px;
    color: #FFFFFF;
}
#modal-login .modal-footer .btn-user-gray{
    background: #888888;
}
#modal-login .modal-footer .btn-user-orange{
    background: #FF9300;
}
#modal-notif{
    top: 220px;
}
#modal-notif .modal-content {
    background: #393E46;
    border: 4px solid #B4BAC8;
    box-sizing: border-box;
    border-radius: 10px;
}
#modal-notif .modal-dialog{
    width: 600px;
    height: 324px;
}
#modal-notif .modal-backdrop{
    background-color: transparent !important;
}
#modal-notif .modal-backdrop.in {
      opacity: 0;
}
#modal-notif .modal-title{
    text-align: center;
}
#modal-notif .modal-header{
    border-bottom: none;
}
#modal-notif .modal-body{
    margin: 0;
    float: center;
}
#modal-notif .modal-notif-body, #modal-notif .modal-notif-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}
#modal-notif .modal-footer{
    border-top: none;
}
#modal-notif .btn-primary{
    width: 150px;
    height: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
#modal-notif .btn-primary a{
    color: #FFFFFF;
    text-decoration: none;
}
.error,.display_error{
    color: rgb(224, 103, 103);
    font-size: 14px;
}
.dollar_mint,.ic_round,.user_orange{
    width: 28px;
    height: 28px;
    margin-bottom: 6px;
    margin-right: 5px;
}
.ic_rounds{
    padding-top: 100px;
    color: #FFFFFF;
    font-size: 24px;
    margin-right: -5px;
}
.current_stocks{
    padding-top: 100px;
    color: #FFFFFF;
    font-size: 24px;
    margin-right: 10px;
}
.ic_round{
    margin: 0 20px 0 0;
}
.ic_round_1{
    margin: 0 0 0 180px;
}
.user_orange{
    margin: 0 20px 0 0;
}
.navbar-collapse-1-mobile{
    display: none;
    background: #393E46;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding: 200px 20px;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar_mobile_grid{
    width: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-bottom: 10px;
}
.navbar_mobile_grid a{
    width: 96%;
}
.btn-mob{
    background: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 50px;
    font-size: 16px;
}
.text-yellow{
    color: #FFF200;
}
.text-white{
    color: #FFFFFF;
}
.text-orange{
    color: #FF9300;
    background: #000000;
} 
.display_nonlog{
    display: none;
    padding: 50px 0;
    display: none;
    background: #393E46;
    z-index: 1;
    width: 100%;
    height: 100vh;
}
.display_log{
    display: none;
    background: #393E46;
    z-index: 1;
    width: 100%;
    height: 100vh;
}
.display_log{
    padding: 100px 50px 0 50px;
    margin: 0;
}
.display_log img{
    padding: 0 0 0 80px;
}
.rec_point{
    text-align: left;
    padding-top: 8px;
    padding-left: 60px;
    padding-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
}
.btn_log_mobile{
    background: #F7F7F7;
    border-radius: 10px;
    width: 245px;
    height: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-align: left;
    margin-bottom: 5px;
}
.display_log .layout_bg{
    background: #C4C4C4;
    border-radius: 10px;
    width: 100%;
    padding: 7px 5px 5px 5px;
}
.display_log .btn_logout{
    background: transparent;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    width: 101px;
    height: 35px;
    color: #888888;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 65px 0 70px;
}
.current_stocks_mobile{
    background-color: #545454;
    height: 36px;
    text-align: center;
    padding-top: 1px;
    display: none;
}
.form_login_mobile{
    padding: 50px 40px 0 40px;
}
.textinput{
    width: 100%;
    height: 44px;
    left: 57px;
    top: 226px;
    background: #F7F7F7;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.btn-log{
    font-size: 14px;
    width: 99px;
    height: 44px;
    border-radius: 10px;
    margin-top: 20px;
}
.btn-user-blue{
    background: #1072BA;
}
.btn-user-orange{
    background: #FF9300;
}
.ic_round_1{
    display: none;
}
.btn_group_nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}
.page-signup{
    margin-top: 30px;
    margin-bottom: 0;
    padding-left: 20.23%;
    padding-right: 20.23%;
}
.signup-title{
    font-size: 35px;
    line-height: 47px;
    color: #333333;
    font-style: normal;
    font-weight: bold;
}
.signup-subtitle{
    font-size: 24px;
}
.btn_signup_orange{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background: #FF9300;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.text_signup,.custom-select-lg{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
    height: 44px;
    background: #F7F7F7;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.btn-action {
    margin-bottom: 20px;
}
.btn-signup_grp{
    width: 130px;
    height: 44px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 10px;
}
.btn_signup_gray{
    background: #888888;
    color: #FFFFFF;
    font-size: 24px;
}
.btn_signup_gray a{
    color: #FFFFFF;
}
.btn_signup_blue{
    background: #1072BA;
    color: #FFFFFF;
    font-size: 24px;
}
iframe{
    border: 2px rgb(153, 152, 152) solid;
}
.page_btc{
    padding: 20px 16.66%;
}
.game_grid,.game_list{
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 68% 30%;
    margin-bottom: 10px;
}
.game_details,.betting_details{
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}
.game_title, .betting_title{
    color: #FFF200;
    font-size: 20px;
    background: #000000;
    padding:  10px 10px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}
.game_title_timer{
    float: right;
}
.game_field, .betting_field{
    height:380px;
    background: #F7F7F7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.candle_chart_field{
    width: 100%;
    height: 100%;
}
#candle_chart{
    object-fit: cover;
}
.betting_title{
    text-align: center;
}
.card-footer{
    display: none;
    background: #F7F7F7;
    border: none;
}
.betting_table{
    width: 100%;
}
.betting_table tr td{
    padding: 5px 10px;
}
.fchild{
    width: 45%;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
}
.lchild{
    width: 65%;
    text-align: right;
    font-weight: 700;
    font-size: 12px;
}
.cblance{
    color: #1072BA;
    font-weight: 700;
}
.lchild input[type="text"]{
    width: 100%;
    text-align: right;
    background: #F7F7F7;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    color: #888888;
}
.ablchild input[type="text"]{
    text-align: right;
    width: 100%;
    background: #F7F7F7;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    color: #888888;
}
.lchild input[type="text"]::placeholder{
    color: #888888;
}
.lchild.acomp{
    color: #1F8FAE;
    padding: 0 10px;
}
.bchild{
    font-size: 11px;
    color: #888888
}
.pull-right{
    padding-top: 5px;
}
.btn_child{
    padding: 0 5px;
}
.bet_orange{
    color: #FFFFFF;
    background: #FF9300;
    width: 150px;
    font-size: 16px;
    padding: 3px 2px;
}
.bet_mint_green{
    color: #FFFFFF;
    background: #1F8FAE;
    width: 150px;
    font-size: 16px;
    padding: 3px 2px;
}
.bet_red{
    color: #FFFFFF;
    background: #ED5659;
    width: 150px;
    font-size: 16px;
    padding: 3px 2px;
}
.bet_blue{
    color: #FFFFFF;
    background: #1072BA;
    width: 150px;
    font-size: 16px;
    padding: 3px 2px;
}
.game_field{
    background: #FFFFFF;
    position: relative;
    z-index: 0;
}
.game_field_opa{
    background: rgba(0, 0, 0, 0.7);
}
.text_result{
    display: none;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 0%;
    height: 420px;
}
.result_title{
    padding-top: 50px;
    font-size: 25px;
    text-align: center;
}
.result_field{
    padding: 5px 150px;
}
.result_table{
    width: 100%;
}
.rfchild{
    width: 30%;
    height: 40px;
    background: rgba(136, 136, 136, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.rmid{
    width: 2%;
    height: 40px;
}
.rlchild{
    width: 68%;
    height: 40px;
    background: rgba(250, 250, 250, 0.9);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.time_result{
    color: #FFFFFF;
}
.text_title_result{
    text-align: center;
    font-size: 30px;
}
#candle_chart{
    font-size: 20px;
    margin-top: 0;
}
.mtimeclock{
    float: right !important;
}
.mtimeclock,.timeclock{
    color: #FF9300;
}
.user_field{
    height:250px;
    background: #F7F7F7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.user_field_group{
    height:250px;
    background: #F7F7F7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
}
.tab-content::-webkit-scrollbar{
    display: none;
}
/* .card_btc {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em 1em;
    grid-auto-flow: row dense;
}
.card_btc_target {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em 1em;
    grid-auto-flow: row dense;
    margin-top: 20px;
}
.card_item {
    background: #FFFFFF;
    padding: 0;
    border-radius: 10px 10px 10px 10px;
}
.btc_header{
    background: #393E46;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 1em 1em;
    grid-auto-flow: row dense;
    height: 50px;
}
.btc_header_trade{
    background: #393E46;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    height: 50px;
}
.btc_trading{
    background: #393E46;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-top: 8px;
    height: 50px;
}
.body_trading{
    padding: 10px;
    height: 550px;
}
.btc_trading, .c_header_c{
    text-align: center;
    color: #FFF200;
}
.c_header_l{
    text-align: left;
    color: #FFF200;
    padding-top: 8px;
    padding-left: 20px;
}
.c_header_r{
    text-align: right;
    color: #FFFFFF;
    padding-top: 8px;
    padding-right: 40px;
}
.mtimeclock{
    float: right !important;
}
.mtimeclock,.timeclock{
    color: #FF9300;
}
.text_trading_left{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.text_trading_right,.text_trading_right_orange,.text_trading_right_blue{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: right;
    padding: 10px;
}
.text_trading_right_orange{
    color: #FF9300;
}
.text_trading_right_blue{
    color: #1072BA;
}
.body_trading table td{
    border: none;
}
.body_trading_gray{
    background: #DDDDDE;
    height: 170px;
    line-height: 5px;
    padding: 10px; 
}
.body_trading_gray .text_trading_left{
    font-size: 14px;
}
.text_trading_right input[type="text"]{
    background: #F7F7F7;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 148px;
    height: 32px;
    border: none;
    margin: -10px;
}
.text_trading_right input[type="text"]::placeholder{
    text-align: right;
    color: #888888;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}
.text_trading_right input[type="text"]{
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
}
.body_trading_white{
    background: #FFFFFF;
    margin-bottom: 200px;
}
.btn_trading_orange{
    background: #FF9300;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    width: 31%;
    margin-bottom: 10px;
}
.btn_trading_bg{
    background: #1F8FAE;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    width: 31%;
    margin-top: -10px;
}
.btn_trading_red, .btn_trading_blue{
    width: 140px;
    height: 36px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
}
.btn_trading_red{
    background: #ED5659;
}
.btn_trading_blue{
    background: #1072BA;
} */
/* .rowcol,.rowcol1 {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    margin: 0;
}
.rowcol,.rowcol1 { 
    grid-template-columns: 30% 70%; 
}
.decition_time,.price{
    background: rgba(136, 136, 136, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 700;
    width: 124px;
    height: 44px;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
}
.time_result,.price_result{
    background: rgb(229, 226, 226);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    margin-right: 50px;
    padding: 10px;
    color: #575454;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    width: 280px;
    text-align: left;
    height: 44px;
}
.results,.text_title_result{
    text-align: center;
    font-weight: 700;
}
.text_title_result{
    text-align: center;
    font-size: 14px;
}
.c_header_trade{
    color: #FFF200; 
}*/
/* .footer_grid{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    margin: 0 0 2.60rem 0;
    grid-template-columns: 50% 50%;
} */
.footer_brand span{
    display: inline-block;
}
.footer{
    background-color: #393E46;
    height: 80px;
    color: #FFFFFF;
    padding: 8px 16.66%;
}
.footer_brand .footer_logo{
    font-size: 45px;
}
.footer_brand .footer_sub_title{
    font-size: 16px;
}
.fixed_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.fixed_bottom{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}